@{
    Layout = "_Layout";
}
@model PierresTreats.Models.Treat

<div class="row">
<div class="col-md-8 offset-md-2">

    <h1>Treat Details</h1>
    <hr>
    <h3>@Html.DisplayNameFor(model => model.TreatName): @Html.DisplayFor(model => model.TreatName)</h3>


  @if(@Model.Flavors.Count == 0)
  {
    <p>This treat doesn't have any Flavors</p>
  }
  else
  {
    <h3>Flavor Options:</h3>
    <ul>
      @foreach(var join in Model.Flavors)
      {
        <li>Flavor : @join.Flavor.FlavorName</li>
        @using (Html.BeginForm("DeleteFlavor", "Treats"))
        {
          @Html.Hidden("joinId", @join.FlavorTreatId)
          @Html.Hidden("treatId", @join.TreatId)
          <input type="submit" value="Delete" class="btn btn-danger">
        }
      }
    </ul>
  }
@await Html.PartialAsync("_TreatButtons")
