@{
    Layout = "_Layout";
}
@model PierresTreats.Models.Treat

<div class="row">
<div class="col-md-8 offset-md-2">

    <h1>Treat Details</h1>
    <hr>
    <h3>@Html.DisplayNameFor(model => model.TreatName): @Html.DisplayFor(model => model.TreatName)</h3>


  @* @if(@Model.Authors.Count == 0)
    {
      <p>This Book does not belong to any Authors</p>
    }

        <h3>Book the Author belongs to:</h3>
        <ul>
        @foreach(var join in Model.Authors)
        {
            <li>Authored By : @join.Author.Name</li>
            @using (Html.BeginForm("DeleteAuthor", "Books"))
            {
              @Html.Hidden("joinId", @join.BookAuthorId)
              <input type="submit" value="Delete" class="btn btn-danger">
            }
        } *@
@await Html.PartialAsync("_TreatButtons")
